
<% if @article.errors.any? %>

    <ul>
        <% @article.errors.full_messages.each do |msg| %>
           <li> <%= msg %> </li >
        <% end %>
    </ul>

<% end %>

<%= form_with model: @article do |form| %>
    <div> <%= form.label :name %> </div>
    <div> <%= form.text_field :name %> </div>

    <div> <%= form.label :description %> </div>
    <div> <%= form.text_field :description %> </div>
    
    <%= form.submit %>
<% end %> 